@mixin flexCenter($direction,$background) {
    display: flex;
    
    justify-content: $direction;
}

header{

    @include flexCenter(colume , red);

   
    color: $textColor;
    button {
      background: $primaryBtn;
      &::after{
       content: "hello";
      }
    }
  }
  